# Arquivos de bytecode do Python
__pycache__/
*.pyc

# Ambientes virtuais
.venv/
venv/
env/

# Configurações de IDEs
.vscode/
.idea/

# Logs
*.log

# Credenciais e variáveis de ambiente
.env
*.env
